<h1 class="title">Tour of Heroes</h1>

<nav>
    <ul class="nav_ul">
        <li>
            <a class="btn btn-secondary btn-sm" href="/">Dashboard</a>
        </li>
        <li>
            <a class="btn btn-secondary btn-sm" href="/heroes">Heroes</a>
        </li>
    </ul>
</nav>
<div class="dashboard-div-style">
    <h2>Top Heroes</h2>
    <ul class="list-group list-group-horizontal dashboard-ul-style">
        <% @dashboards.each do |dashboard| %>
        <li class="li-style">
            <!-- <p class="btn btn-primary btn-lg btn-style"> -->
                <%= link_to dashboard.name, hero_detail_path(id_hero: dashboard.id_hero) %>
            <!-- </p> -->
        </li>
        <% end %>
    </ul>
</div>
