<h1 class="title">Tour of Heroes</h1>

<nav>
    <ul class="nav_ul">
        <li>
            <a class="nav_link" href="/">Dashboard</a>
        </li>
        <li>
            <a class="nav_link" href="/heroes">Heroes</a>
        </li>
    </ul>
</nav>

<p class="button">
    <%= @details.name %>
</p>

<p>
    <%= @details.id_hero %>
</p>

