<h1 class="title">Tour of Heroes</h1>

<nav>
    <ul class="nav_ul">
        <li>
            <a class="btn btn-secondary btn-sm" href="/">Dashboard</a>
        </li>
        <li>
            <a class="btn btn-secondary btn-sm" href="/heroes">Heroes</a>
        </li>
    </ul>
</nav>
<h2>My Heroes</h2>
<ul class="heroes-ul-style">
    <% @heroes.each do |hero| %>
    <li class="heroes-li-style">
        <spam class="heroes-id-style"><%= hero.id_hero %></spam>
        <%= link_to hero.name, hero_detail_path(id_hero: hero.id_hero) %>
        <%= form_with(url: delete_hero_path(id_hero: hero.id_hero), method: :delete, local: true) do |f| %>
            <%= f.submit "Delete", class: "btn btn-danger" %>
        <% end %>
    </li>
    <% end %>
</ul>

<a class="btn btn-secondary btn-sm" href="/heroes/create">New hero</a>


