/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .title {
    color: rgb(22, 102, 187);
    font-family: Arial, Helvetica, sans-serif;
 }

 .nav_ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

 .nav_link {
   background-color:rgb(215, 215, 215);
   padding: 7px;
    text-decoration: none;
    color: rgb(0, 0, 0);
 }

 .heroes-ul-style{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;

 }

 .heroes-li-style{
  display: grid;
  align-items: center;
  grid-template-columns: 50px 65% 15%;
  height: 45px;
 }

 .heroes-id-style{
  background-color: rgb(39, 52, 86);
  color: white;
  padding: 5px;
  border-radius: 5px 0 0 5px;
 }

 .heroes-li-style a{
  background-color: rgb(229, 229, 229) ;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin-right: 20px;
  border-radius: 0 5px 5px 0
 }

 .dashboard-div-style{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
 }
 .dashboard-ul-style{
  gap: 20px;
 }

 .li-style {
   list-style-type: none;
 }
 .btn-primary.btn-style{
   background-color: rgb(39, 52, 86);
 }

 .li-style a{
  padding: 15px;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgb(39, 52, 86);
  color: white;
}
